:root{
    --accent-color: #cfdbff;
    --font:"Inter Tight";
    --bttn-color: #05386B;
    --bg-color: #faf5ff ;
    --th-color: ;
    --text-color:#00092e;
}

@media (min-width: 990px) {
    body{
        margin-left: 15vh;
        margin-right: 15vh;
    }
    h1 {
        margin-top: 3vh;
        font-size:10vh;
        margin-bottom:2vh;  
    }
    h4{
        font-size: 4vh;
    }
    .menu-button{
        margin-bottom: 1vh;
        padding-top: 3vh;
        width: 55vh;
        font-size: 3.5vh;
        background-color: var(--accent-color);
        border-radius: 1.5vh;
    }
    .menu{
        margin-top:2vh;
        margin-left:10vh;
        margin-right:10vh;
    }
    .flex1{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }
    .explain{
        max-width: 120vh;
    }
    .explain h1{
        margin-bottom:0;
    }
    p {
        font-size: 3.25vh;
        margin-top: 1vh;
    }
    .return{
        margin-top:10vh;
        margin-right: 10vh;
    }
    .mainpage {
        font-size:4vh;
    }
    .rules{
        font-size:3.4vh;
    }
    .rules td {
        padding-bottom:1.25vh;
    }
    .explain h3 {
        font-size: 5vh;
    }    
    
    img {
        width:40vh;

    }
    .numer{
        width: 30vh;
        font-size: 3.4vh;
    }
    .truefalse{
        border-width: 0.3vh;
        padding-left: 1.5vh;
        font-size: 4vh;
        border-color: var(--text-color);
        width: 12vh;
        max-height: 2vh;
    }
    .content{
        margin-bottom: 2vh;
    }
    .nava {
        margin-top: 12vh;
        margin-right: 8vh
    }
    select {
        color: var(--bttn-color);
        background-color: var(--bg-color);
        border-color: var(--bttn-color);
        border-radius: 2vh;
        font-size: 3.25vh;
        text-align: left;
    }
    .flex1 {
        min-height: 15vh;
    }
   }