body {
    text-align: left;
}

#quiz-container {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
    width: 75%;
}

#question {
    font-size: 40px;
}

#feedback {
    font-size: 24px;
    font-weight:500;
}

#quiz-form {
    font-size: 24px;
}

p{
    font-size: 100px;
}

button{
    font-size: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 30px;
}

.flex-menu{
    margin-top : 20px;
    justify-content: flex-end; 
    margin-bottom: 20px;
}

@media (max-width: 990px) {
    #quiz-container{
        margin-top:60px;
    }
    #question {
        font-size: 25px;
    }
    #feedback {
        font-size: 18px;
    }
    
    #quiz-form {
        font-size: 18px;
    }
    
    button{
        font-size:16px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 5px;
        margin-top:10px;
        margin-bottom: 5px;
    }
    .flex-menu{
        margin-top: 20px;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: stretch;
    }
    
   }

   