@font-face {
    font-family: 'Inter Tight';
    src: url(InterTight-VariableFont_wght.ttf);
  }
  

:root{
    --accent-color: #cfdbff;
    --font:"Inter Tight";
    --bttn-color: #05386B;
    --bg-color: #faf5ff ;
}

h3 {
    font-weight: 600;
    color : var(--bttn-color)
}

body {
    font-family: var(--font) ;
    background-color:var(--bg-color);
    color:#2e1500;
    text-align: center;
}
h1{
    font-size:60px;
    padding-top:40px;
    padding-bottom:20px;
    font-weight: 700;
}
h4 {
    font-size:20px;
    padding-bottom:20px;
}
button {
    margin-bottom:20px;
    margin-top: 10px;
    border-radius: 8px;
    border:0px;
    background-color: var(--bttn-color);
    color: var(--accent-color)
}
p {
    margin-top:5px;
}

.flex-menu{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.menu-button{
    margin-bottom: 20px;
    padding-top: 10px;
    width: 300px;
    background-color: var(--accent-color);
    border-radius: 8px;;
}

.mainpage {
    background-color: var(--bg-color);
    color: var(--bttn-color);
    font-size:24px;
    font-weight: 200;
    max-height:10px;
    margin-top:0;
    padding:0;
    margin-bottom:35px;
}

@media (max-width: 990px) {
    body{
        margin-left: 5%;
        margin-right: 5%
    }
    h1{
        font-size:40px;
        padding-top:30px;
    }
    h4 {
        font-size:18px;
    }
    .menu{
        margin-top:20px;
    }
    .flex-menu {
        margin-left: 2%;
        margin-right: 2%;
        font-size:18px;
    }
    .menu-button {
        padding-left:2%;
        padding-right:2%;
    }
   }