@font-face {
    font-family: 'Inter Tight';
    src: url(InterTight-VariableFont_wght.ttf);
  }
  

:root{
    --accent-color: #fde6b5;
    --font:"Inter Tight";
    --soft-color: #febd84;
    --bg-color: #fdfae7 ;
}

body {
    font-family: var(--font) ;
    background-color:var(--bg-color);
    color:#2e1500;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
h1{
    font-size:60px;
    padding-top:40px;
}
h4 {
    font-size:20px;
}



@media (max-width: 990px) {
    body{
        margin-left: 5%;
        margin-right: 5%
    }
    h1{
        font-size:40px;
        padding-top:30px;
    }
    h4 {
        font-size:15px;
    }
   }